button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.word-eng {
    cursor: pointer;
    line-height: 0.75;
    height: 1lh;
    box-sizing: border-box;
}

.sentence-eng {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 1rem;
    padding: 1rem;
}

.is-clozed {
    border-bottom: 3px solid black;
    color: transparent;
}