.hidden {
    display: none !important;
}

.word-eng {
    cursor: pointer;
}

.sentence-eng {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 1rem;
    padding: 1rem;
}

.is-clozed {
    border-bottom: 3px solid black;
}